<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PrediCan</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"

    />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>


    <header>
      <input type="checkbox" name="" id="toggler" />
      <label for="toggler" class="fas fa-bars"></label>

      <a href="#" class="logo">PrediCan<span></span></a>

      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#CancerQueries">CancerQueries</a>
        <a href="#contact">Contact us</a>
      </nav>

      <div class="icons">
        <a href="#" class="fas fa-user"></a>
      </div>
    </header>


    <section class="home" id="home">
      <div class="content">
        <h3>PrediCan</h3>
        <span>Better Prediction of cancer </span>
        <p>
          Our Website guides people about various types of cancer prediction and
          thus reducing the human effort
        </p>
        <a href="#" class="btn">Start Now</a>
      </div>
    </section>

    <section class="about" id="about">
      <h1 class="heading"><span> about </span> us</h1>

      <div class="row">
        <div class="image-container">
          <img src="images/01.jpg" ></img>
        </div>

        <div class="content">
          <h3>why choose us?</h3>
          <p>
            Amongst the outbreak of different diseases in the past few decades there is a
            disease that also has a very high mortality rate and many of its variants don’t
            comply with antidotes too, that is cancer.
            
          </p>
          <p>
            So, we have created a portal that will be able to predict whether the person is
            suffering from cancer or not and will further classify its types.
          </p>
          <a href="#CancerQueries" class="btn">See more</a>
        </div>
      </div>
    </section>


    <section class="CancerQueries" id="CancerQueries">
      <h1 class="heading"><span>CancerQueries</span></h1>

      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/breast.jpg" alt="" />
            <div class="icons">

              <a href="index1.html" class="query-btn">Enter Query</a>
            </div>
          </div>
          <div class="content">
            <h3>Breast Cancer</h3>
          </div>
        </div>

        <div class="box">
                      <div class="image">
            <img src="images/lung.jpg" alt="" />
            <div class="icons">
              <a href="index2.html" class="query-btn">Enter Query</a>
            </div>
          </div>
          <div class="content">
            <h3>Lung Cancer</h3>
          </div>
        </div>

        <div class="box">
            <div class="image">
  <img src="images/colon.jpg" alt="" />
  <div class="icons">
    <a href="index4.html" class="query-btn">Enter Query</a>
  </div>
</div>
<div class="content">
  <h3>Colon Cancer</h3>
</div>
</div>
        <div class="box">
            <div class="image">
  <img src="images/skin.jpg" alt="" />
  <div class="icons">
    <a href="index3.html" class="query-btn">Enter Query</a>
  </div>
</div>
<div class="content">
  <h3>Skin Cancer</h3>
</div>
</div>
       
      </div>
    </section>

    <section class="contact" id="contact">
      <h1 class="heading"><span> contact </span> us</h1>

      <div class="row">
        <form action="">
          <input type="text" placeholder="Your name" class="box" />
          <input type="email" placeholder="Your email" class="box" />
          <input type="number" placeholder="Your number" class="box" />
          <textarea
            name=""
            class="box"
            placeholder="Enter message"
            id=""
            cols="30"
            rows="10"
          ></textarea>
          <input type="submit" value="send message" class="btn" />
        </form>

        <div class="image">
          <img src="images/contact-img.jpg" alt="" />
        </div>
      </div>
    </section>

   
    <section class="footer">
      <div class="box-container">
        <div class="box">
          <h3>quick links</h3>
          <a href="#home">home</a>
          <a href="#about">about</a>
          <a href="#CancerQueries">CancerQueries</a>
          <a href="#contact">contact</a>
        </div>

        <div class="box">
          <h3>extra links</h3>
          <a href="#">my account</a>
          <a href="#">my queries</a>
        </div>


        <div class="box">
          <h3>contact info</h3>
          <a href="#">+123-456-7890</a>
          <a href="#">PrediCan@gmail.com</a>
          <a href="#">Bhopal, india - 489076</a>        </div>
      </div>

      <div class="credit">
        created by <span> Team PrediCan </span> | all rights reserved
      </div>
    </section>

 
    <script src="js/script.js"></script>
  </body>
</html>
